.products-grid{
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
}

@media (min-width: 768px){
    .products-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px){
    .products-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.product{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.product .content{
    padding: 1rem;
}

.product .content h3{
    font-size: 3rem;
    color: white;
    text-transform: uppercase;

}

.product .description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
    color: white;
}

.product .price{
    color: white;
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
}

.product .link {
    margin-top: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    transition-property: background-color;
    transition-duration: 300ms;
}

h2 {
    font-size: 72px;
    background: rgb(162,120,238);
    background: linear-gradient(90deg, rgba(162,120,238,1) 33%, rgba(1,255,219,1) 51%, rgba(127,28,203,1) 71%, rgba(4,0,84,1) 100%, rgba(7,164,196,1) 100%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product .link:hover {
    background-color: var(--primary);
}

.product .text {
    color: white;
    font-size: 1.8rem;
    margin: 0;
    font-weight: 900;

}

.product .title{
    font-size: 100px;
    background: rgb(120,172,238);
    background: linear-gradient(90deg, rgba(120,172,238,1) 4%, rgba(1,255,219,1) 51%, rgba(28,117,203,1) 100%, rgba(7,164,196,1) 100%, rgba(4,0,84,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}